[run]
source = app
omit =
    app/__pycache__/*
    app/*/__pycache__/*
    tests/*
    app/bot/*
    app/jobs/*
    app/utils/sharepoint.py
    app/utils/storage.py
    app/services/scheduler.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
